<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>ITAcademy: Java BE 5.1.1</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/maps.css}">
    <link rel="stylesheet" th:href="@{/css/s5t1n1e1.css}">
</head>
<body>
<!-- NAVEGATION BAR -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong>
                    <img src="/images/IT-Academy.png" style="height:40px">
                </strong>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/sucursal/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sucursal/getAll}">Sucursals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sucursal/addFrom}">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sucursal/maps}">Map</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:9000/swagger-ui/index.html" th:target="_blank">
                            <img src="/images/swagger2.png" style="width:40px">
                            API info
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- CONTEND -->
<div class="container"></div>

<!-- FOOT PAGE -->
<footer th:fragment="footer" class="bg-dark text-white text-center fixed-bottom">
    <div class="container">
        <p> Copyright Josep Salgado &copy; -2019</p>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</footer>
</body>
</html>