<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/template2 :: head">
</head>
<body>
<header th:replace="template/template2 :: header"></header>

<div class="container">
    <!-- TITLE -->
    <div class="container">
        <h1 th:text="${title}">title</h1>
    </div>

    <!-- TABLE -->
    <div class="container">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">COUNTRY</th>
                <th scope="col">TYPE</th>
                <th scope="col">UPDATE</th>
                <th scope="col">DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cl:${sucursals}">
                <th scope="row" th:text="${cl.Pk_SucursalID}"></th>
                <td th:text="${cl.nomSucursal}"></td>
                <td th:text="${cl.paisSucursal}"></td>
                <td th:text="${cl.tipusSucursal}"></td>
                <td>
                    <a class="btn btn-success btn-sm" th:href="@{/sucursal/update/} + ${cl.pk_SucursalID}"
                       th:text="'Edit'" title="Edit Sucursal">
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" th:href="@{/sucursal/delete/} + ${cl.pk_SucursalID}"
                       th:text="'Delete'" title="Delete Sucursal">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<footer th:replace="template/template2 :: footer"></footer>
</body>
</html>